.burger-constructor {
    min-width: 600px;
    box-sizing: border-box;
}

.ingredients {
    height: 530px;
    overflow-x: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-track {
    background: #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: #8584ac;
}

.submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.counter {
    flex: 0;
    display: flex;
}

.counter__number {
    margin: 0;
}

.burger-container {
    display: 'flex';
    flex-direction: 'column';
    gap: 10px;
    min-height: 700px;
}

.chosen-ingredient {
    margin: 0;
    box-sizing:border-box;
}