.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    position: relative;
    border-radius: 40px;
    background-color: #1d1c22;
    z-index: 10000;
    box-sizing: border-box;
}

.button__close {
    background-color: #1d1c22;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    top: 60px;
    right: 40px;
    width: 24px;
    height: 24px;
    z-index: 10000;
}

.composition {
    display: flex;
    justify-content: space-between;
    min-width: 520px;
}