.container {
    display: flex;
    margin-top: 80px;
}

.menu {
    width: 320px;
    padding: 0;
    margin: 0;
    margin-right: 60px;
}

.menu_list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
}

.li {
    min-height: 64px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease-in-out
}

.li:hover {
    opacity: .7;
}

.input {
    margin-bottom: 24px;
}

.input:last-child{
    margin-bottom: 0;
}

.text {
    color:#8585AD;
    opacity: .3;
}

.button__container {
    display: flex;
    justify-content: flex-end;
}