.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

@media screen and (max-width: 1220px) {
    .main {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    flex: none;
    margin: 0;
    margin-bottom: 24px;
}

.input {
    flex: none;
    margin-bottom: 24px;
}

.register {
    margin: 0;
    margin-top: 60px;
}

.register:last-child{
    margin-top: 12px;
}

.register__login {
    margin-left: 8px;
    color: #4C4CFF;
    cursor: pointer;
}

.button {
    cursor: pointer;
}