.container {
    margin: 0 auto;
    width: 640px;
    margin-top: 60px;
    padding-bottom: 30px;
}

.number {
    text-align: center;
    margin-bottom: 40px;
}

.link {
    color: inherit; /* blue colors for links too */
    text-decoration: none
}

.title {
    margin-bottom: 12px;
}

.status_pending {
    margin-bottom: 30px;
    color: #00CCCC;
}

.status_cancelled {
    margin-bottom: 30px;
    color: #ff0000;
}

.status_done {
    margin-bottom: 30px;
    color: #ffffff;
}

.status_created {
    margin-bottom: 30px;
    color: #00CCCC;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
}

.content {
    box-sizing:border-box;
    height: 250px;
    overflow-x: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 8px;
    margin-bottom: 40px;
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background: #2f2f37;
}

.content::-webkit-scrollbar-thumb {
    background-color: #8584ac;
}

.currency-image {
    padding-left: 10px;
}