.header {
    display: flex;
    align-items: center;
    background-color: #1C1C21;
    min-height: 88px;
}

.links {
    display: flex;
    padding-right: 104px;
}

.personal-account {
    justify-content: flex-end;
}

.link-account {
    display: flex;
    flex: auto;
    justify-content: end;
}

.link {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 968px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
    }
}

