.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    max-height: 100vh;
    position: relative;
    border-radius: 40px;
    background-color: #1d1c22;
}

.button__close {
    background-color: #1d1c22;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    top: 60px;
    right: 40px;
    width: 24px;
    height: 24px;
}

.order {
    margin: 0;
    text-shadow: 0 0 0.3em #26277a, 0 0 0.3em #26277a;
}

.name {
    margin: 0;
    margin-top: 32px;
}